<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=site.name%></title>
    <meta name="keywords" content="<%= keywordsText %>">
    <meta name="description" content="<%= site.description %>">
     <% css.forEach(function(s){ %>
        <link rel="stylesheet" href="<%- s %>">
    <% }) %>
</head>
<body>
    <header>
        <div class="container flex flex-center flex-column">
            <div class="flex flex-center">
                <img class="avatar" src="/assets/image/avatar.jpg" alt="">
            </div>
            <p class="flex nickname flex-center"><%= site.name %></p>
            <p class="flex flex-center info">
                <span>👦 <%= resume.age%></span>|
                <span>💻 <%= resume.job%></span>|
                <span>🌏 <%= resume.city%></span>
            </p>
        </div>
    </header>
    <div class="container">
        <div class="intro"><%=resume.description%></div>
        <div class="flex skills">
            <% resume.skills.forEach(function(skill){ %>
            <span><%=skill%></span>
            <%})%>
        </div>
        <div class="concat flex flex-column">
            <div class="flex">
                <h3>联系我</h3>
            </div>
            <div class="flex flex-column concat-item">
                <p class="flex"><ion-icon name="logo-github"></ion-icon><a title="<%=resume.github%>" href="<%=resume.github%>"><%=resume.github%></a></p>
                <p class="flex"><ion-icon name="mail-outline"></ion-icon><a title="<%=resume.email%>" href="mailto:<%=resume.email%>"><%=resume.email%></a></p>
            </div>
            <div class="flex about-btn">
                <a class="btn hole link" href="/about.html" title="/about.html">了解更多</a>
            </div>
        </div>
        <div class="update flex flex-column">
            <div class="flex flex-between">
                <h3>更新</h3>
                <a href="###">更多文章 >></a>
            </div>
            <div class="list flex flex-column">
                <%-recentHtml%>
            </div>
            <div class="flex flex-center more">
                <a href="###">更多文章 >></a>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container flex flex-column">
            <p class="flex flex-center">Copyright© 2023-2023 <%=site.name%></p>
            <p class="flex flex-center"><a href="###"><%=site.copyright%></a></p>
        </div>
    </footer>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
</body>
</html>